* {
	padding: 0;
	margin: 0;
	color: #333;
}

body, .intro::before {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.intro::before {
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.intro {
	width: 80%;
	heigth: 80%;
	// border-radius: 10px;
	/*padding: 10px;*/
	/*box-shadow: -4px 0 4px #0003
			  , 0 -4px 4px #0003
			  , 4px 0 4px #0003
			  , 0 4px 4px #0003;
	background: #FFF4;*/
	position: relative;
	left: -40%;
	//top: -40%;
	margin-left: 50%;
	margin-top: 20%;
}

.intro::before {
	content: '';
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	filter: blur(10px);
}

#name {
	color: white;
	font-size: 100px;
}

#introduction {
	color: white;
	font-size: 25px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	font-style: italic;
}

ul li {
	list-style: none;
}

li {
	color: white;
	font-size: 20px;
}

.menubar {
	width: 600px;
	heigth: 30px;
	position: relative;
	margin-left: 50%;
	margin-top: 10%;
	left: -300px;
	top: -15px;
}

.menubar>li {
	position: relative;
}

.menubar li {
	float: left;
	height: inherit;
	text-align: center;
	border-right: 1px solid gray;
}

.menubar a {
	display: block;
	line-height: 20px;
	padding: 0px 10px;
	color: white;
}

li:hover a {
	text-decoration: none;
	font-style: normal;
	transform: scale(1.1);
	transition: all .5s;
}

#date-block {
	width: 100px;
	height: 20px;
	position: absolute;
	margin-top: 10px;
	margin-right: 10px;
	right: 100px;
	text-align: center;
	color: white;
	font-size: 15px;
}